@import '../tokens.css';

.react-aria-CheckboxGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.checkbox-group-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
