@import './tokens.css';

.react-aria-CheckboxGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.react-aria-CheckboxGroup .react-aria-Label {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-gray-700);
}

.checkbox-group-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.react-aria-CheckboxGroup .react-aria-Text[slot='description'] {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}

.react-aria-CheckboxGroup .react-aria-FieldError {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-red-700);
}
