@import './tokens.css';

.react-aria-Tooltip {
  background: var(--color-gray-900);
  color: var(--color-white);
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-sm);
  line-height: 1.4;
  padding: var(--spacing-1-5) var(--spacing-2); /* 6px 8px */
  border-radius: var(--radius);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  max-width: 200px;


  &[data-entering] {
    animation: tooltip-enter 0.15s ease-out;
  }

  &[data-exiting] {
    animation: tooltip-exit 0.1s ease-in forwards;
  }
}

@keyframes tooltip-enter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes tooltip-exit {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Arrow */
.react-aria-Tooltip > .react-aria-OverlayArrow {
  position: absolute;

  & svg {
    display: block;
    fill: var(--color-gray-900);
  }
}

.react-aria-Tooltip[data-placement^='bottom'] > .react-aria-OverlayArrow {
  top: -8px;

  & svg {
    transform: rotate(180deg);
  }
}

.react-aria-Tooltip[data-placement^='top'] > .react-aria-OverlayArrow {
  bottom: -8px;
}

.react-aria-Tooltip[data-placement^='left'] > .react-aria-OverlayArrow {
  right: -8px;

  & svg {
    transform: rotate(-90deg);
  }
}

.react-aria-Tooltip[data-placement^='right'] > .react-aria-OverlayArrow {
  left: -8px;

  & svg {
    transform: rotate(90deg);
  }
}

